border-1px($color)
  position relative
  &:after
    display block
    position absolute
    left 0
    bottom 0
    width: 100%
    border-top: 1px solid $color
    content: ''

.vip
  width 2rem
  height 2rem
  background-position: left
  background-repeat: no-repeat
  background-size auto 2rem
  animation: vip 1.5s steps(23) 1s infinite forwards
@keyframes vip
  0%
    background-position: left
  100%
    background-position: right
